* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 600px;
  margin: 100px auto;
  text-align: center;
}

.search {
  width: 100%;
  align-items: center;
  justify-content: space-between;
  padding-top: 9px;
}

.location-form input {
  border: 0;
  outline: 0;
  background: #e8f0fd;
  color: #555;
  padding: 5px 10px;
  flex: 1;
  margin-right: 16px;
  font-size: 18px;
}

.btn {
  border: 0;
  outline: 0;
  padding: 5px 10px;
  cursor: pointer;
}

.btn:active {
  box-shadow: 1px 1px 2px rgb(0 0 0 / 50%);
}

.weather-icon {
  width: 120px;
  margin-top: 20px;
}

.temperature {
  font-size: 80px;
  font-weight: 500;
  margin-top: 10px;
}

.location {
  font-size: 45px;
  font-weight: 400;
  margin-top: -10px;
}

.details {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  margin-top: 50px;
}

.col {
  display: flex;
  align-items: center;
  text-align: left;
}

.col img {
  width: 60px;
  padding-right: 15px;
}

.humidity,
.pressure {
  font-size: 20px;
  margin-top: 5px;
  font-weight: bold;
}

.description {
  font-size: 25px;
  margin-top: 30px;
}

.errorText {
  margin-left: 10px;
  margin-top: 10px;
}
