body {
  box-sizing: border-box;
}

.container {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.search {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 9px;
}

.search input {
  border: 0;
  outline: 0;
  background: #e8f0fd;
  color: #555;
  padding: 5px 10px;
  border-radius: 30px;
  flex: 1;
  margin-right: 16px;
  font-size: 18px;
}

.btn {
  border: 0;
  border-radius: 30px;
  outline: 0;
  padding: 5px 10px;
  background-color: #ffdb62;
  cursor: pointer;
}

.btn:active {
  box-shadow: 1px 1px 2px rgb(0 0 0 / 50%);
}

.error {
  margin-left: 10px;
  margin-top: 10px;
  font-size: 1.5rem;
}

.weather-image {
  width: 170px;
  margin-top: 20px;
}
  
.temperature {
  display: flex; 
  align-items: center;
  margin: 15px 0;
  font-size: 1.5rem;
}

.location {
  font-size: 2rem;
  font-weight: 800;
  font-style: italic;
}

.details {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 50px;
}

.card-details {
  font-size: 1.25rem;
}

.description {
  font-size: 1.25rem;
  text-transform: capitalize;
}
